<!DOCTYPE html5>

{% extends "base.html" %}

{% block body %}

<div>
  <div class="jumbotron">

  	<h1>Welcome</h1>
  	<p>Scroll down to learn more</p>

  </div>

  <div class="page-header">
  	<h3>Uh <small>Something should go here</small></h3>
  </div>

  <p>To get started using this, navigate to the help page</p>
</div>

{% endblock %}
