<!DOCTYPE html5>

{% extends "base.html" %}

{% block body %}

<div>
  <div id="legend">
  	<legend class="">Input string and rotation number</legend>
  </div>

  <form method="post">
    <div class="row">
      <div class="col-md-10">
        <div class="input-group">
          <div class="input-group-btn" id="main-dropdown">
            <button type="submit" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Encrypt
            </button>
            <div class="dropdown-menu">
              <button type="submit" id="main-encrypt" name="encrypt" class="btn btn-secondary dropdown-item" value="encrypt">Encrypt</button>
              <button type="submit" name="decrypt" class="btn dropdown-item" value="decrypt">Decrypt</button>
              <button type="submit" value="decryptReturn" name="decryptReturn" class="btn dropdown-item">Decrypt Return</button>
            </div>
          </div>
          <input type="text" class="form-control input-lg" placeholder="string" {% if success == None %} required {% endif %} autofocus name="string" value="{{request.form.string}}">
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <input type="number" class="form-control input-lg" placeholder="number" name="number" value="{{request.form.number}}">
        </div>
      </div>
    </div>
  	<br>
    <div>
      <input type="success" style="display:none" class="form-control input-lg" name="success" value="{{ success }}">
    </div>
  	<!--<input class="btn btn-success btn-lg btn-block" type="submit" value="Submit">-->
  </form>
  <br>
  <div class="main-response">
    <span style="white-space: pre-wrap"><p>{{ error }}</p></span>
    <span style="white-space: pre-wrap; word-wrap: break-word"><p>{{ success }}</p></span>
  </div>
</div>

{% endblock %}
