<!DOCTYPE html5>

{% extends "base.html" %}

{% block body %}

<div>
  <div id="legend">
  	<legend class="">Input string and rotation number</legend>
  </div>

  <!-- Create new blog -->
  <form method="post">
    <div class="input-group">
      <input type="text" class="form-control input-lg" placeholder="title" {% if success == None %} required {% endif %} autofocus name="title" value="{{request.form.title}}">
      <input type="text" class="form-control input-lg" placeholder="content" name="content" value="{{request.form.content}}">
      <button type="submit" class="btn btn-secondary">
        Submit
      </button>
    </div>
  	<!--<input class="btn btn-success btn-lg btn-block" type="submit" value="Submit">-->
  </form>
  <br>
  <div class="main-response">
    <span style="white-space: pre-wrap"><p>{{ error }}</p></span>
    <span style="white-space: pre-wrap; word-wrap: break-word"><div class="container"><h6>Blogs</h6>{% for blog in blogs | reverse %}
      <hr /><hr />
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">id={{blog.id}}</div>
        <div class="col">timestamp={{blog.created}}</div>
      </div><div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8"><b>{{blog.title}}</b></div>
        <div class="col">author={{blog.username}}</div>
      </div><div class="row">
        <div class="col"><i>{{blog.content}}</i></div>
      </div>{% endfor %}
    </div>
    </span>
  </div>
</div>

{% endblock %}
