<!DOCTYPE html5>

{% extends "base.html" %}

{% block body %}

<div>
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="#">Profile and Settings</a></li>
	  <li role="presentation"><a href="/update">Update/Change Account Info</a></li>
	</ul>

	<br>

	<div class="checkbox">
		<label><input type="checkbox"> Dark Theme? (not working yet)</label>
		<p>{{ error14 }}</p>
	</div>

	<div class="control-group">
		<p class="help-block"></p>
		<p>{{ error6 }}</p>
		<!-- Button -->
		<div class="controls">
			<input class="btn btn-success btn-lg btn-block" type="submit" value="Apply">
		</div>
	</div>
</div>

{% endblock %}
