/**
 * ========================================================================== Overrides
 * ==========================================================================
 */

html {
  box-sizing : border-box;
  height     : 100%;
}

header {
  margin-top    : 0;
  margin-bottom : 2rem;
  border-bottom : 3px solid #e5e5e5;
  font-size     : 20px;
}

body {
  position       : relative;
  min-height     : 100%;
  padding-bottom : 6rem;
  font-family    : "Helvetica Neue",
                   Arial,
                   sans-serif;
}

legend {
  display       : block;
  width         : 100%;
  margin-bottom : 20px;
  padding       : 0;
  color         : #333;
  border        : 0;
  border-bottom : 3px solid #e5e5e5;
  font-size     : 21px;
  line-height   : inherit;
}

*,
*:after,
*:before {
  box-sizing : inherit;
}

/**
 * ========================================================================== base.html
 * ==========================================================================
 */

.active {
  color : darkslategray;
}

.footer {
  position         : absolute;
  right            : 0;
  bottom           : 0;
  left             : 0;
  padding          : 1rem;
  background-color : #fff;
  text-align       : left;
}

.titledown {
  z-index        : 1;
  position       : absolute;
  top            : 0;
  left           : 0;
  width          : 100%;
  color          : white;
  text-align     : center;
  text-transform : uppercase;
  text-shadow    : 0 1px 0 rgba(black, .1);
  text-indent    : .3em;
  font-family    : 'Playfair Display',
                   serif;
  font-size      : 1.6vmin;
  line-height    : 300px;
  letter-spacing : .4em;
  transform      : translate3d(0, 0, 0);
}

.title {
  z-index        : 1;
  position       : absolute;
  top            : 0;
  left           : 0;
  width          : 100%;
  color          : white;
  text-align     : center;
  text-transform : uppercase;
  text-shadow    : 0 1px 0 rgba(black, .1);
  text-indent    : .3em;
  font-family    : 'Playfair Display',
                   serif;
  font-size      : 4vmin;
  line-height    : 300px;
  letter-spacing : .4em;
  transform      : translate3d(0, -80px, 0);
}

.Site {
  display        : flex;
  flex-direction : column;
}

.Site-content {
  flex : 1;
}

.main-content {
  min-height     : 100vh;
  padding-bottom : 0;
}

#flashmsg {
  width : 35rem;
}

.block-body {
  max-width : 50rem;
}

.errorcolor {
  color : #af2321;
}

/**
 * ========================================================================== login.html
 * ==========================================================================
 */

.login-wrapper {
  max-width : 15rem;
}

/**
 * ========================================================================== main.html
 * ==========================================================================
 */

 .main-response {
   text-align: center;
 }

 /**
  * ========================================================================== register.html
  * ==========================================================================
  */

.hide {
  display: none;
}

#timezone-picker {
  margin-left: 1rem;
}

.form-check-input:only-child {
  position: absolute;
}

button.selectpicker {
  background-color: #eee;
}

ul > li:not(.nav-item) {
  border-bottom: 1px solid gray;
  padding-left: .5rem;
}

ul.selectpicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: list-item;
  background-color: white;
  max-height: 16rem !important;
}

div.dropdown-menu {
  width: max-content;
  /* word-break: break-all; If width is smaller */
}
